.list {
  &__container {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    list-style: none;
    align-items: center;
  }

  &__item {
    width: 100%;
    max-width: 900px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__zettel {
    max-height: 25vh;
    overflow: hidden;
  }
}
