$custom-colors: (
  grey: #264653,
  green: #2a9d8f,
  yellow: #e9c46a,
  orange: #f4a261,
  red: #e76f51,
);

$shades: 10, 20, 30, 40, 50, 60, 70, 80, 90, 98;

$tones: (
  light: #ffffff,
  dark: #000000,
);
