@import './colors';

@function develop-colors($custom-colors, $shades) {
  $result: ();

  @each $color, $color-value in $custom-colors {
    $result: map-merge(
      $result,
      (
        $color: $color-value,
      )
    );

    @each $tone, $tone-value in $tones {
      @each $shade in $shades {
        $result: map-merge(
          $result,
          (
            '#{"" + $color}-#{$tone}-#{$shade}':
              mix($tone-value, $color-value, $shade),
          )
        );
      }
    }
  }

  @return $result;
}

@function get-simple-color($custom-colors, $name) {
  @return map-get($custom-colors, $name);
}

@function get-shade-color($custom-colors, $name, $tone, $shade) {
  @return map-get($custom-colors, '#{$name}-#{$tone}-#{$shade}');
}

$developed-colors: develop-colors($custom-colors, $shades);
