@import './functions';
@import './bootstrap.custom.scss';

$attributes: (
  bg: 'background-color',
  f: 'fill',
  c: 'color',
);

@each $attribute, $attribute-value in $attributes {
  @each $color, $color-value in $custom-colors {
    .#{$attribute}-#{'' + $color} {
      #{$attribute-value}: get-simple-color($developed-colors, $color);
    }

    .#{$attribute}-#{'' + $color}--hover {
      &:hover {
        #{$attribute-value}: get-simple-color($developed-colors, $color);
      }
    }

    @each $tone, $tone-value in $tones {
      @each $shade in $shades {
        .#{$attribute}-#{'' + $color}-#{$tone}-#{$shade} {
          #{$attribute-value}: get-shade-color(
            $developed-colors,
            $color,
            $tone,
            $shade
          );
        }

        .#{$attribute}-#{'' + $color}-#{$tone}-#{$shade}--hover {
          &:hover {
            #{$attribute-value}: get-shade-color(
              $developed-colors,
              $color,
              $tone,
              $shade
            );
          }
        }
      }
    }
  }
}

:root {
  font-size: 16px;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', system-ui, sans-serif !important;
}

body,
html {
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: linear-gradient(315deg, var(#f1f1f1) 0%, var(#e7e7e7) 100%);
  color: get-shade-color($developed-colors, grey, dark, 90);
}
