.layout {
  &__main {
    height: 100vh;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      margin-bottom: 5rem;
    }

    @media only screen and (min-width: 600px) {
      margin-left: 5rem;
    }
  }
}
