@import '../../styles/functions';

.header {
  $this: &;

  &__main {
    // @include background-cover;
    background: no-repeat center center;
    background-color: get-shade-color($developed-colors, grey, dark, 50);
    margin-bottom: 2rem;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
  }

  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__page,
  &__post,
  &__site {
    padding: 3rem 0;
    color: white;

    @media only screen and (min-width: 768px) {
      padding: 6rem 0;
    }
  }

  &__page,
  &__site {
    text-align: center;

    #{$this}__title {
      font-size: 2rem;
      margin-top: 0;
    }

    #{$this}__subtitle {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      // @include sans-serif-font;
    }

    @media only screen and (min-width: 768px) {
      #{$this}__title {
        font-size: 4rem;
      }

      #{$this}__subtitle {
        font-size: 2rem;
      }
    }
  }

  &__post {
    #{$this}__title {
      font-size: 35px;
    }

    .meta,
    #{$this}__subtitle {
      line-height: 1.1;
      display: block;
    }

    #{$this}__subtitle {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      // @include sans-serif-font;
    }

    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      // @include serif-font;

      a {
        // color: $white;
      }
    }

    @media only screen and (min-width: 768px) {
      #{$this}__title {
        font-size: 55px;
      }
      #{$this}__subtitle {
        font-size: 30px;
      }
    }
  }
}
