@import '../../styles/transitions';
@import '../../styles/functions';

.nav {
  $this: &;
  &__bar {
    z-index: 1;
    position: fixed;
    background-color: get-shade-color($developed-colors, grey, 'dark', 70);
    transition: width 200ms ease;

    @media only screen and (max-width: 600px) {
      bottom: 0;
      height: 5rem;
      width: 100vw;
    }

    @media only screen and (min-width: 600px) {
      width: 5rem;
      height: 100vh;

      &:hover {
        width: 16rem;

        #{$this}__link {
          flex-direction: row !important;
          justify-content: start;
        }

        #{$this}__logoText,
        #{$this}__text {
          display: block;
        }

        #{$this}__logoIcon {
          transform: scale(1, 1);
          transition: transform $transition-speed;
        }
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

    @media only screen and (max-width: 600px) {
      flex-direction: row;
      justify-content: space-around;
    }

    @media only screen and (min-width: 600px) {
      flex-direction: column;
    }
  }

  &__item {
    @media only screen and (min-width: 600px) {
      width: 100%;
      &:last-child {
        margin-top: auto;

        #{$this}__link {
          flex-direction: column-reverse;
        }
      }
    }
  }

  &__link {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: get-simple-color($developed-colors, orange);
    filter: grayscale(100%) opacity(0.8);
    transition: $transition-speed;
    text-align: center;

    &:hover {
      filter: grayscale(0%) opacity(1);
      background-color: get-shade-color($developed-colors, grey, dark, 50);
      text-decoration: none;
    }
  }

  &__icon {
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__logo {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.3ch;
    width: 100%;
    color: get-simple-color($developed-colors, red);

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__logoText {
    margin: auto;
    display: none;
  }

  &__logoIcon {
    transform: scale(-1, 1);
    transition: transform $transition-speed;
  }
}
